.app {
  background-color: #282c34;
  /* text-align: center; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  /* border: 2px solid cyan;
  border-radius: 10px; */

  color: white;
  margin: 0 0 0 0;
}

.messages {
  width: 90vw;
  height: 70vh;
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: calc(10px + 2vmin + 4vh);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 10px auto 10px;
  padding: 10px;
  box-sizing: border-box;
}

.header {
  width: 90vw;
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: calc(10px + 2vmin + 4vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 10px auto 10px;
}

.input-text {
  width: 90vw;
  border: none;
  /* border-radius: 10px; */ 
  text-align: left;
  color: white;
  background-color: #282c34;
  min-height: calc(10px + 2vmin + 4vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  margin: 10px auto 10px;
}

.input-button {
  width: 15vw;
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: calc(10px + 2vmin + 4vh);
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  /* margin: 10px auto 10px; */
}

.bordered {
  border: 2px solid cyan;
  border-radius: 10px;
}